<% if code_example %>
  <% lines = code_example.split("\n") %>
  <% code_example_title = lines.shift %>
  <% code_example = lines.join("\n") %>
<% end %>
<% $ds_code_example_id ||= 0 %>
<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel<%= $ds_code_example_id %>">
        <%= code_example_title %>
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel<%= $ds_code_example_id %>" class="content">
        <pre><%= code_example %></pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <%= rendered_example.split("\n")[1..-1].join("\n") %>
  </div>
  </ul>
</div>
<% $ds_code_example_id += 1 %>
