<!DOCTYPE html>
<html>
<head>
  <title>DysonSphere</title>
  <%= stylesheet_link_tag    "dyson_sphere/application", media: "all" %>
  <%= stylesheet_link_tag    "dyson_sphere/styleguide", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" %>
  <%= javascript_include_tag "dyson_sphere/application" %>
</body>
</html>
